*{

    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --primaryColor: #4C8D70;
    --textColor: #1D1C1C;
    --bgcolor: #fcfcfc;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bgcolor);
  padding: 0 120px;
  margin: 0;
}
/* navbar */
header{
    position: fixed;
    width: 100%;
    height: 91px;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
}
.navbar ul{
    display: flex;
    gap: 21px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar a{
    color: var(--textColor);
    font-size: 17px;
}
.navbar a:hover{
    color: var(--primaryColor);
}
.main{
    display: flex;
    align-items: center;
}
.main .icon-btn{
  margin-right: 20px;
  color: var(--textColor);
  font-size:24px;
  background: none;
  border: none;
  cursor: pointer;
}
.main .icon-btn2{
  margin-right: 0px;
  color: var(--textColor);
  font-size:24px;
  background: none;
  border: none;
  cursor: pointer;
}
.menu{
    display: none; /*icon humburgernya di hide*/
}

/* Hero */
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 65px;
}
.hero-text{
  display: block;
}
.hero .hero-text h1 {
  font-size: 50px;
  margin: 0;
}
.hero-text-hd{
  display: none; /*dihilangin saat di dekstop*/
}
.warna {
  color: var(--primaryColor);
}
.hero .hero-text p {
  font-size: 14px;
  opacity: 60%;
  font-family: 'Open Sans';
}
.btn-primary {
  background-color: var(--primaryColor);
  color: var(--bgcolor);
  border: none;
  padding: 11px 34px;
  border-radius: 10px;
  margin-right: 16px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400; /*reguler*/
}
.btn-secondary {
  background-color: var(--bgcolor);
  color: #4C8D70;
  border: 2px solid var(--primaryColor);
  padding: 11px 34px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400; /*reguler*/
}
.hero-img{
  width: 100%;
  display: flex;
  justify-content: end;
}
.hero-img img {
  width: 75%;
}

/* about us */
.about-us{
    display: flex; /*supaya bersebelahan*/
    align-items: center;
    padding-top: 120px;
}
.about-text{
    margin-left: 75px; /*jarak perdetail*/
}
.about-desc{
    color: var(--textColor);
}
.section-label{
    display: flex;
    align-items: center;
}
.line {
    width: 46px;
    border: 1px solid var(--textColor);
    line-height: 1px;
    margin-right: 12px;
}
.section-label p{
    color: var(--textColor);
    position: relative;
    font-family: 'Open Sans';
}
.about-text h1{
    font-size: 35px;
    margin-top: 12px;
    font-family: 'Poppins';
    color: var(--textColor);
}
.warna{
    color: var(--primaryColor);
}
.about-text p{ /*nama section*/
    font-size: 14px;
    opacity: 60%;
    font-family: 'Open Sans';
}
.about-detail{
  margin-top: 28px;
    color: var(--primaryColor);
    font-family: 'Open Sans';
    height: 130px;
}
.detail h2{
    font-weight: 600; /*semibold*/
    font-size: 36px;
}
.detail p{
    font-weight: 400; /*reguler*/
    font-size: 18px;
}
.detail{
    padding-right: 20px; /*jarak info badges*/
    margin-bottom:40px;
}
.line-right {
    border-right: 1px solid var(--primaryColor);
    margin-top: 7%; /*untuk memberikan jarak atas di garis*/
    height: 64px;
    margin-right: 40px; /*jarak dari garis ke info badges yg lain*/
}
.about-img img{
    width:90%;
}
.about-detail{
    display: flex;
    align-items: center;
}
.judul {
    line-height: 0;
}
.container-deatil {
    display: flex; 
    gap: 32px;
}
.btn-primary {
    background-color: #4C8D70;
    color: #fcfcfc;
    border: none;
    padding: 11px 34px;
    border-radius: 10px;
    margin-right: 16px;
    cursor: pointer;
    font-size: 16px;
}
.btn-secondary {
    background-color: #fcfcfc;
    color: #4C8D70;
    border: 2px solid #4C8D70;
    padding: 11px 34px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.arrow-up-right{
  font-size: 24px;
}
.btn button{
  display: flex;
}







@media (min-width: 768px){  /*tablet*/
  body{
    padding: 0 30px;
    align-items: center;
  }
  .logo img{
    width: 85%;
}
  .navbar a{
    font-size: 20px;
  }
  
  /* hero section */
  .hero{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-top: 45px;
  }
  .hero-text{
    display: none; /*hilangin di mode tablet*/
  }
  .hero-img{
    display: none;
  }
  .hero-text-hd{
    display: block;
    font-size: 35px;
    width: 100%;
  }
  .hero-text-hd p {
    font-size: 20px;
    opacity: 60%;
  }
  .hero-text-hd .btn{
    display: flex;
  }
  .btn-primary {
    background-color: var(--primaryColor);
    color: var(--bgcolor);
    border: none;
    padding: 11px 29px;
    border-radius: 10px;
    margin-right: 16px;
    cursor: pointer;
    font-size: 15px;
  }
  .btn-secondary {
    background-color: var(--bgcolor);
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    padding: 11px 29px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
  }
    /* about us */
    .about-text{
    margin-left: 75px; /*jarak perdetail*/
  }
}








@media (max-width: 640px){ /*mobile*/
  body{
    padding: 0 10px;
  }
  /* navbar */
  .menu{
    display: block;
  }
  .navbar a{
    font-size: 17px;
  }
  .navbar{
    position: absolute;
    top: 100%;
    right: -90%;
    width: 60vw;
    height: 60vh;
    background: var(--primaryColor);
    justify-content: flex-start;
    border-radius: 2px;
    transition: all .50s ease;
  }
  .navbar ul{
    display: flex;
    flex-direction: column;
  }
  .navbar a{
    display: block;
    margin: 12px 0;
    padding: 0 25px;
    transition: all .50s ease;
  }
  .navbar a:hover{
    color:var(--bgcolor);
  }
  .navbar.open{
    right: 2%;
  }
  .main .icon-btn{
    margin-right: 10px;
    color: var(--textColor);
    font-size:24px;
    background: none;
    border: none;
    cursor: pointer;
  }
.main .icon-btn2{
    margin-right: 10px;
    color: var(--textColor);
    font-size:24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .main .icon-btn3{
    margin-right: 0px;
    color: var(--textColor);
    font-size:24px;
    background: none;
    border: none;
    cursor: pointer;
  }

  /* hero section */
  .hero {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-top: 65px;
  }
  .hero-text{
    display: none; /*disembbunyikan*/
  }
  .hero-text-hd{
    display: block;
  }
  .hero-text-hd h1{
    margin-top: auto;
    display: block;
    font-size: 28px;
    margin: 0;
    max-width: 600px;
  }
  .hero .hero-text-hd p {
    font-size: 12px;
    opacity: 60%;
    margin-top: 16px;
  }
  .hero-img{
    display: none;
  }
  .hero-text-hd .btn{
    display: flex;
  }
  .btn-primary {
    background-color: var(--primaryColor);
    color: var(--bgcolor);
    border: none;
    padding: 8px 25px;
    border-radius: 10px;
    margin-right: 16px;
    cursor: pointer;
    font-size: 15px;
  }
  .btn-secondary {
    background-color: var(--bgcolor);
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    padding: 11px 29px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
  }
}