*{

    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --primaryColor: #4C8D70;
    --textColor: #1D1C1C;
    --bgcolor: #fcfcfc;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bgcolor);
  padding: 0 120px;
  margin: 0;
}
/* navbar */
header{
    position: fixed;
    width: 100%;
    height: 91px;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
}
.navbar ul{
    display: flex;
    gap: 21px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar a{
    color: var(--textColor);
    font-size: 17px;
}
.navbar a:hover{
    color: var(--primaryColor);
}
.main{
    display: flex;
    align-items: center;
}
.main .icon-btn{
  margin-right: 20px;
  color: var(--textColor);
  font-size:24px;
  background: none;
  border: none;
  cursor: pointer;
}
.main .icon-btn2{
  margin-right: 0px;
  color: var(--textColor);
  font-size:24px;
  background: none;
  border: none;
  cursor: pointer;
}
.menu{
    display: none; /*icon humburgernya di hide*/
}

/* Hero */
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 65px;
}
.hero .hero-text h1 {
  font-size: 55px;
  margin: 0;
  width: 650px;
}
.warna {
  color: var(--primaryColor);
}
.hero .hero-text p {
  font-size: 14px;
  opacity: 60%;
  width: 630px;
  font-family: 'Open Sans';
}
.btn{
  display: flex;
}
.btn-primary {
  background-color: var(--primaryColor);
  color: var(--bgcolor);
  border: none;
  padding: 11px 34px;
  border-radius: 10px;
  margin-right: 16px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400; /*reguler*/
}
.btn-secondary {
  background-color: var(--bgcolor);
  color: #4C8D70;
  border: 2px solid var(--primaryColor);
  padding: 11px 34px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400; /*reguler*/
}
.hero-img{
  width: 100%;
  display: flex;
  justify-content: end;
}
.hero-img img {
  width: 75%;
}

/* about us */
.about-us{
    display: flex; /*supaya bersebelahan*/
    align-items: center;
    padding-top: 120px;
}
.about-text{
    margin-left: 75px; /*jarak perdetail*/
}
.about-desc{
    color: var(--textColor);
}
.line {
    width: 46px;
    border: 1px solid #1D1C1C;
    opacity: 60%;
    line-height: 1px;
    margin-right: 12px;
}
.section-label{
    display: flex;
    align-items: center;
}
.section-label p{
    color: #1D1C1C;
    opacity: 60%;
    position: relative;
    font-family: 'Open Sans';
    font-size: 18px;
}
.about-text .about-desc h1{
    font-size: 35px;
    margin-top: 12px;
    color: var(--textColor);
}
.about-text .about-desc p{ 
    font-size: 14px;
    opacity: 60%;
    font-family: 'Open Sans';
    width: 580px;
}
.about-detail{
  margin-top: 28px;
    color: var(--primaryColor);
    font-family: 'Open Sans';
    height: 130px;
}
.detail h2{
    font-weight: 600; /*semibold*/
    font-size: 36px;
}
.detail p{
    font-weight: 400; /*reguler*/
    font-size: 18px;
    width: auto;
}
.line-right {
    border-right: 1px solid var(--primaryColor);
    margin-top: 7%; /*untuk memberikan jarak atas di garis*/
    height: 64px;
    margin-right: 40px; /*jarak dari garis ke info badges yg lain*/
}
.about-img img{
    width:90%;
}
.about-detail{
    display: flex;
    align-items: center;
}
.judul {
    line-height: 0;
}
.container-deatil {
    display: flex; 
    gap: 32px;
}
.btn{
  display: flex;
}
.btn-primary {
  background-color: var(--primaryColor);
  color: var(--bgcolor);
  border: none;
  padding: 11px 34px;
  border-radius: 10px;
  margin-right: 16px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400; /*reguler*/
}
.btn-secondary {
  background-color: var(--bgcolor);
  color: #4C8D70;
  border: 2px solid var(--primaryColor);
  padding: 11px 34px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400; /*reguler*/
}
.arrow-up-right{
  font-size: 24px;
}
.btn button{
  display: flex;
}

/* card prodduct */
.card-product{
  padding-top: 120px;
}
.card-text{
  display: flex;
  justify-content: space-between; /*bbiar mentok di kanan*/
}
.card-text h1{
  font-weight: 600;
  font-size: 44px;
  margin: 0;
  padding: 0;
}
.card-text p {
  font-size: 16px;
  opacity: 60%;
  font-family: 'Open Sans';
  width: 400px;
}
.button-category{
  display: flex;
  justify-content: space-between;
}
.btn-filter{
  margin-right: 14px;
  background-color: var(--bgcolor);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 6px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400; /*reguler*/
}
.btn-filter:hover{
  background-color: var(--primaryColor);
  color: var(--bgcolor);
}
.view-all{
  justify-content: space-between;
  background-color: var(--primaryColor);
  color: var(--bgcolor);
  border: 2px solid var(--primaryColor);
  padding: 6px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 400; /*reguler*/
}
.container-card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
  gap: 30px 20px;
}
.card{
  border:1px solid var(--primaryColor);
  padding: 14px;
  border-radius: 10px;
}
.sayur-card img{
  margin: auto;
  width: 85%;
}
.desc{
  padding: 0;
}
.nama{
  display: flex;
  justify-content: space-between;
}
.nama p{
  font-size: 16px ;
  color: var(--textColor);
  font-weight: 500;
}
.nama .category{
  font-size: 12px;
  padding: 3px 8px;
  border: 0.5px solid #4C8D70;
  color: #4C8D70;
  width: 85px;
  border-radius: 20px;
}
.desc2 p{
  margin-top: 12px;
  font-family: 'Open Sans';
  font-size: 13px;
  opacity: 70%;
  color: #1D1C1C;
}
.action{
  display: flex;
  justify-content: space-between;
}
.shop{
  margin-right: 14px;
  background-color: var(--primaryColor);
  color: var(--bgcolor);
  border: 2px solid var(--primaryColor);
  padding: 3px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: 400; /*reguler*/
}
.cart{
  background-color: var(--bgcolor);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 1px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 400; /*reguler*/
}
.harga{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.harga p{
  font-size: 16px;
  margin: 0;
  margin-top: 0;
}
.rating p{
  font-size: 14px;
  margin: 0;
  margin-top: 0;
}





@media (min-width: 768px) and (max-width: 1023px){  /*tablet*/
  body{
    padding: 0 30px;
    align-items: center;
  }
  .logo img{
    width: 85%;
}
  .navbar a{
    font-size: 20px;
  }
  
  /* hero section */
  .hero{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-top: 45px;
  }
  .hero-img{
    display: none;
  }
  .hero .hero-text h1{
    display: block;
    font-size: 47px;
    width: auto;
  }
  .hero .hero-text p {
    font-size: 16px;
    opacity: 60%;
    width: auto;
  }
  .hero-text .btn{
    display: flex;
  }
  .btn-primary {
    background-color: var(--primaryColor);
    color: var(--bgcolor);
    border: none;
    padding: 11px 29px;
    border-radius: 10px;
    margin-right: 16px;
    cursor: pointer;
    font-size: 15px;
  }
  .btn-secondary {
    background-color: var(--bgcolor);
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    padding: 11px 29px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
  }
  /* about us */
  .about-text{
    margin-left: 0px; /*jarak perdetail*/
  }
  .line {
    width: 46px;
    border: 1px solid var(--textColor);
    line-height: 1px;
    margin-right: 12px;
  }
  .section-label p{
    color: var(--textColor);
    position: relative;
    font-family: 'Open Sans';
    font-size: 15px;
  }
  .about-text .about-desc h1{ 
    font-size: 37px;
  }
  .about-text .about-desc p{ /*nama section*/
    font-size: 16px;
    opacity: 60%;
    font-family: 'Open Sans';
    width: auto;
    /* width: 450px; */
  }
  .about-img{
    display: none;
  }
}








@media (min-width: 0px) and (max-width: 768px){ /*mobile*/
  body{
    padding: 0 10px;
  }
  /* navbar */
  .menu{
    display: block;
  }
  .navbar a{
    font-size: 17px;
  }
  .navbar{
    position: absolute;
    top: 100%;
    right: -90%;
    width: 60vw;
    height: 60vh;
    background: var(--primaryColor);
    justify-content: flex-start;
    border-radius: 2px;
    transition: all .50s ease;
  }
  .navbar ul{
    display: flex;
    flex-direction: column;
  }
  .navbar a{
    display: block;
    margin: 12px 0;
    padding: 0 25px;
    transition: all .50s ease;
  }
  .navbar a:hover{
    color:var(--bgcolor);
  }
  .navbar.open{
    right: 2%;
  }
  .main .icon-btn{
    margin-right: 10px;
    color: var(--textColor);
    font-size:24px;
    background: none;
    border: none;
    cursor: pointer;
  }
.main .icon-btn2{
    margin-right: 10px;
    color: var(--textColor);
    font-size:24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .main .icon-btn3{
    margin-right: 0px;
    color: var(--textColor);
    font-size:24px;
    background: none;
    border: none;
    cursor: pointer;
  }

  /* hero section */
  .hero {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-top: 65px;
  }
  .hero .hero-text h1{
    font-size: 26px;
    margin: 0;
    width: auto;
  }
  .hero .hero-text p {
    font-size: 12px;
    opacity: 60%;
    margin-top: 16px;
    width: auto;
  }
  .hero-img{
    display: none;
  }
  .hero-text-hd .btn{
    display: flex;
  }
  .btn .btn-primary {
    background-color: var(--primaryColor);
    color: var(--bgcolor);
    border: none;
    padding: 8px 20px;
    border-radius: 10px;
    margin-right: 16px;
    cursor: pointer;
    font-size: 15px;
  }
  .btn .btn-secondary {
    background-color: var(--bgcolor);
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    padding: 11px 29px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
  }

  /* about us */
  .about-text{
    margin-left: 0px; /*jarak perdetail*/
  }
  .about-text .about-desc h1{
    font-size: 27px;
  }
  .about-text .about-desc p{
    font-size: 12px;
    width: auto;
  }
  .about-img{
    display: none; /*menghilangkan*/
  }
  .line {
    width: 35px;
    border: 1px solid #1D1C1C;
    opacity: 60%;
    line-height: 1px;
    margin-right: 12px;
  }
  .section-label p{
    color: #1D1C1C;
    opacity: 60%;
    position: relative;
    font-family: 'Open Sans';
    font-size: 15px;
  }
  .about-text .about-desc h1{
    font-size: 26px;
    margin: 0;
    width: auto;
    margin-top: 10px; /*ngatur jarak judul sama nama section*/
    color: var(--textColor);
  }
  .about-text .about-desc p{
    font-size: 12px;
    opacity: 60%;
    margin-top: 5px;
    width: auto;
  }
  .detail h2{
    font-weight: 600; /*semibold*/
    font-size: 25px;
  }
  .detail p{
    font-weight: 400; /*reguler*/
    font-size: 16px;
    width: auto;
  }
}